
.newprogress-wrapper {
    width: 65%;
    margin: 1rem auto;
    padding: 4rem 1rem;
}

.custom-input-textarea {
    border: 1px solid black;
    border-radius: 8px;
    padding: .8rem 1rem;
    margin: 1.5rem auto;
    transition: 0.6s;
}

.custom-date-input {
    background-color: lightgrey;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 4px 8px;
}