.App {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  text-align: center;
}

/* PROJECTS PAGE */

.projectpage-wrapper {
  padding: 0 0 3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  background: rgb(2,0,36);
  background: linear-gradient(137deg, rgba(2,0,36,1) 0%, rgb(7, 66, 91) 35%, rgb(6, 39, 46) 100%);
}

.project-background-container {
  display: block;
  width: 100%;
  overflow: hidden;

}

.project-thumbnail {
    display: block;
    margin: auto;
    width: 80%;
    height: auto;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 2cm;
}

.project-date {
  padding: 1.4rem 0;
  font-size: 1.3rem;
  font-weight: 600;

}

.setprogress-wrapper {
  margin: 3rem auto;
  padding: 1rem 0;
}

.input-progress {
  width: 60vw;
  margin: .8rem auto;
}

.bottombar-btns-wrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: black;
  margin: 1rem 0 0;
  padding: 1.5rem 0;
  text-align: center;
}

.bottombar-btns-wrapper > button {
  margin: auto .6rem;
}

/* progress tree --- */

.progress-tree {
  width: 100%;
  min-height: 30vh;
  overflow: hidden;
}

/* EDIT PAGE */

.editpage-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
  overflow: hidden;
}

::-webkit-scrollbar { display: none; }